@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-pretendard-std);
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

main.main-background {
  background: url("/images/main-background-image.png") lightgray 50% / cover no-repeat;
}
main > div.container {
  max-width: 60rem;
  margin: 0 auto;
}

@media (max-width: 608px) {
  header .nav-menu:not(.show-menu) {
    display: none;
  }
  header .nav-menu.show-menu {
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    background: white;

    display: flex;
    flex-flow: column nowrap;
  }
  header .nav:has(> .nav-menu.show-menu) .nav-logo {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  header .nav:has(> .nav-menu.show-menu) {
    background-color: white;
  }
  header .nav:has(> .nav-menu.show-menu).xs\:justify-custom {
    justify-content: space-between;
  }
  header .nav:has(> .nav-menu.show-menu) .nav-logo .logo {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  header .nav:has(> .nav-menu.show-menu) .nav-logo .menu-logo {
    display: initial;
    visibility: visible;
    opacity: 1;
  }
  header .nav-menu:not(.show-menu) a {
    visibility: hidden;
  }
  header .hamburger.is-opened .bar {
    background-color: var(--color-text-normal);
  }
}
header .hamburger:hover .bar:first-child {
  transform: translateY(-1px);
}
header .hamburger:hover .bar:last-child {
  transform: translateY(1px);
}
header .hamburger.is-opened {
  z-index: 10;
}
header .hamburger.is-opened .bar:first-child {
  transform: translateY(10px) rotate(45deg);
}
header .hamburger.is-opened .bar:nth-child(2) {
  transform: scaleX(0);
}
header .hamburger.is-opened .bar:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

#default-search::-webkit-search-cancel-button {
  display: none;
}
input[type="search"].show-clear::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");

  background-color: var(--color-text-assistive);
  outline: 1px solid var(--color-text-assistive);
  border: 1px solid var(--color-text-assistive);
  border-radius: 50%;
  height: 0.875rem;
  width: 0.875rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-primary-normal: rgba(46, 102, 216, 1);
    --color-primary-most: rgba(5, 23, 61, 1);
    --color-primary-strong: rgba(26, 77, 182, 1);
    --color-primary-minor: #ecf1fb;
    --color-primary-weak: #e5ebf9;
    --color-primary-assistive: #d1dbf2;
    --color-text-strong: #363637;
    --color-text-normal: rgba(71, 74, 78, 1);
    --color-text-inverse: rgba(255, 255, 255, 1);
    --color-text-minor: rgba(207, 213, 220, 1);
    --color-text-assistive: #848990;
  }
}

.badge {
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
.enable-badge {
  color: #40a088;
  background-color: #e9f9f5;
}
.disable-badge {
  color: var(--color-text-assistive);
  background-color: #edf0f4;
}

/** react toastify custom */
.Toastify .Toastify__toast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Toastify .Toastify__toast {
  background-color: #ffffffff;
  color: #000000ff;
  border-radius: 0.5rem;
  border: 1px solid var(--color-primary-normal);

  min-height: 3rem;
  min-width: 21.875rem;
  max-width: 21.875rem;
  margin-bottom: 0.5rem;
}
.Toastify .Toastify__toast .Toastify__toast-body {
  padding: 0;
  font-size: 0.75rem;
  font-weight: 400;
}
.Toastify .Toastify__toast .Toastify__toast-body .Toastify__toast-icon {
  color: var(--color-primary-normal);
}
.Toastify .Toastify__toast .Toastify__close-button {
  color: #508eff;
  font-weight: 500;
  opacity: 1;
  align-self: center;
  font-size: 0.75rem;
}
.Toastify .Toastify__toast .Toastify__progress-bar--wrp {
  height: 3px;
}
.Toastify .Toastify__toast .Toastify__progress-bar.Toastify__progress-bar--info {
  background: var(--color-primary-normal);
}

/** react datepicker custom */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper .react-datepicker__view-calendar-icon input[type="text"] {
  padding: 0.5rem 1.5625rem 0.5rem 0.75rem;
}
.react-datepicker-wrapper .react-datepicker__view-calendar-icon svg {
  padding: 0.4rem;
  right: 0;
}
.clear-button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  height: 0.875rem;
  width: 0.875rem;
  -webkit-appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");

  background-color: var(--color-text-assistive);
  outline: 1px solid var(--color-text-assistive);
  border: 1px solid var(--color-text-assistive);
  border-radius: 50%;
}

/* Loading */
@keyframes rotation-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--color-primary-normal);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation-loader 1s linear infinite;
}

/* Tooltip */
.tooltip {
  @apply invisible absolute;
}
.tooltip-top-left {
  right: 0;
  top: -2.5rem;
}
.tooltip-bottom-left {
  right: 0;
  bottom: -2.5rem;
}
.has-tooltip {
  position: relative;
}
.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
.has-tooltip .tooltip.tooltip-top-left svg {
  position: absolute;
  bottom: -0.5rem;
  right: 1.125rem;
}
.has-tooltip .tooltip.tooltip-bottom-left svg {
  position: absolute;
  top: -0.5rem;
  right: 1.125rem;
  transform: rotate(180deg);
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}
.scroll-custom::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track,
.scroll-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb,
.scroll-custom::-webkit-scrollbar-thumb {
  background: rgba(34, 45, 50, 0.5);
}
::-webkit-scrollbar-thumb:hover,
.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 45, 50, 1);
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
